requests==2.25.1
duckdb==1.0.0
duckdb_engine==0.13.0
Flask==2.3.3
mysql==0.0.3
mysql-connector-python==9.0.0
mysqlclient==2.2.4
numpy==1.23.5
pandas==2.0.3
polars==1.1.0
pyarrow==14.0.2
SQLAlchemy==1.4.52
SQLAlchemy-Utils==0.38.3
